@import "../Vars.scss";

.container.forDrivers {
	display: flex;
	flex-direction: row;
	@media (max-width: 768px) {
		flex-direction: column;
	}
	.Quiz.forDrivers {
		.btn {
			width: 100%;
		}
	}
}

.heroBanner.forDrivers {
	width: 737px;
	height: 655.95px;
	object-fit: cover;
	object-position: 50% 0;
	margin-bottom: 115px;
	@media (max-width: 768px) {
		width: 100%;
	}
}

h3.dark {
	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	line-height: 83px;
	color: $textColor;
	span {
		color: $blue;
	}
	@media (max-width: 768px) {
		margin-top: 96px;
		max-width: 100%;
		@media (max-width: 425px) {
			font-size: 40px;
			line-height: 140%;
		}
	}
}
