@import "../Vars.scss";

.container.forDrivers {
  display: flex;
  flex-direction: row;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.heroBanner {
  width: 737px;
  height: 505px;
  object-fit: cover;
  margin-bottom: 115px;
  @media (max-width: 768px) {
    width: 100%;
  }
}
