@import "Vars.scss";

.cardBindingWrapper {
	margin-top: 85px;
	width: 100%;
	display: flex;
	flex-direction: row;
	padding: 110px 100px;
	background: $grayBg;
	@media (max-width: 768px) {
		width: 117%;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		padding: 110px 60px;
		flex-direction: column;
		@media (max-width: 425px) {
			padding: 110px 30px;
		}
	}
	.col {
		width: 50%;
		@media (max-width: 768px) {
			width: 100%;
		}
		h2,
		h1 {
			font-weight: 500;
			font-size: 70px;
			line-height: 71px;
			margin-bottom: 52px;
			@media (max-width: 768px) {
				margin-top: 96px;
				max-width: 100%;
				@media (max-width: 425px) {
					font-size: 40px;
					line-height: 140%;
				}
			}
		}
		p {
			font-size: 20px;
			line-height: 147.52%;
			margin-bottom: 60px;
			@media (max-width: 425px) {
				font-size: 18px;
			}
		}
		a.nav-link {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			width: 170px;
			height: 55.4px;
			font-weight: 500;
			font-size: 20px;
			line-height: 24px;
			position: relative;
			@media (max-width: 768px) {
				margin-bottom: 30px;
			}
			&:after {
				content: "";
				display: block;
				position: absolute;
				top: 45%;
				right: 40px;
				transform: translateY(-50%) rotate(45deg);
				width: 13px;
				height: 3px;
				background: $textColor;
				transition: 0.3s;
				pointer-events: none;
			}
			&:before {
				content: "";
				display: block;
				position: absolute;
				top: 60%;
				right: 40px;
				transform: translateY(-50%) rotate(-45deg);
				width: 13px;
				height: 3px;
				background: $textColor;
				transition: 0.3s;
				pointer-events: none;
			}
		}
		svg {
			width: 140%;
		}
	}
}
